body {
  text-align: center;
  background-color:aqua;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 8vmin;
  color: #0a0a0a;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #070bf5;

}

footer {
  background-color: cornsilk;
  margin-top: 53vmin;
  margin-bottom: 0;
  padding: 1vmin auto;
  color: #DBEDF3;
  font-family: sans-serif;
}

.w 
{ 
  background-image:url(images/tom1.png);
}  

.a {
  background-image:url(images/tom2.png);
}

.s {
  background-image:url(images/tom3.png);
}

.d {
  background-image:url(images/tom4.png);
}

.j {
  background-image:url(images/crash.png);
}

.k {
  background-image:url(images/kick.png);
}

.l {
  background-image:url(images/snare.png);
}








.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color:blue;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}


footer
{
  color:black;
}